
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 60px;
    display: block;
    background-color: red;
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
    color: white;
    
}

.album {
    width: 100%;
    height: 60px;
    display: block;
    text-align: center;

}

.album:hover {
    background-color: lightgrey;
  cursor: pointer;
}

.album-name {
    font-size: large;
    font-family: cursive;
}

.title {
    font-size: x-large;
    font-family: cursive;
    display: inline-block;
}

